<% layout('/layouts/boilerplate') -%>

<div class="container my-5">
  <div class="row">

    <div class="col-12 col-md-6 offset-md-3 text-center mb-4">
      <h1>Signup on Wanderlust</h1>
    </div>

    <div class="col-12 col-md-6 offset-md-3">
      <div class="card shadow-sm p-4">
        <form action="/signup" method="POST">

          <div class="mb-3">
            <label for="username" class="form-label fw-semibold">Username</label>
            <input id="username" name="username" placeholder="Enter username" type="text" 
                   class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label fw-semibold">Email</label>
            <input id="email" name="email" placeholder="Enter email" type="email" 
                   class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label fw-semibold">Password</label>
            <input id="password" name="password" type="password" 
                   class="form-control" required>
          </div>

          <button class="btn btn-success">Signup</button>
        </form>
      </div>
    </div>

  </div>
</div>
